<?xml version="1.0"?>
<!--
Web.config file for XtremeK.

The settings that can be used in this file are documented at 
http://www.mono-project.com/Config_system.web and 
http://msdn2.microsoft.com/en-us/library/b5ysx397.aspx
-->
<configuration>
  <connectionStrings>
    <add name="Database" connectionString="Server=172.27.12.134; Database=xkdb; Port=5432; UserID=xtremek; Password=xtremek0864; Pooling=true; MaxPoolSize=100;" />
    <add name="RG_Database" connectionString="Server=172.27.12.132; Database=reversegeocoding; Port=5432; UserID=xtremek; Password=xtremek0753; Pooling=true; MaxPoolSize=100;" />
  </connectionStrings>
  <appSettings>
    <add key="appName" value="XtremeK DEVELOPMENT" />
    <add key="companyName" value="XtremeK" />
    <add key="logo" value="xtremek" />
    <add key="logoUrl" value="http://xtremek.com/" />
    <add key="logFile" value="/var/log/xtremek_dev.log" />
  </appSettings>
  <system.web>
    <compilation defaultLanguage="C#" debug="true">
      <assemblies>
        <add assembly="System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </assemblies>
    </compilation>
    <customErrors mode="RemoteOnly">
    </customErrors>
    <authentication mode="None">
    </authentication>
    <authorization>
      <allow users="*" />
    </authorization>
    <httpHandlers>
    </httpHandlers>
    <trace enabled="false" localOnly="true" pageOutput="false" requestLimit="10" traceMode="SortByTime" />
    <sessionState mode="InProc" cookieless="false" timeout="20" />
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" />
    <pages>
    </pages>
  </system.web>
</configuration>